naf-efro{
    position: absolute;
    top: 100%;
    width:  100%;
    left:  0;
}

naf-efro img{
    width:  100%;
    height:  100%;
}
/*
.monkeyMove{
   animation: run 2s linear; 
}

@keyframse run{
    0%{top: 100%;}
    50%{top: 0%;}
    100%{top: 100%;}
}
*/