footer{background: #151515;padding:  10px 0 10px 0;position: fixed;bottom:  0;width:  100%;text-align:  center;color: #a09c9c;}

footer span{
    
}

footer span a{
    color: #a09c9c;
    text-decoration: none;
}

@media screen and (max-width: 1020px){
    footer{
        font-size: 0.6em;
        padding:  5px 0 5px 0;
        }

}