naf-play{
    display: flex;
    flex-flow: wrap;
    width: 64em;
    height: 90%;
    margin:  auto;
    cursor: url('../../assets/images/coconut.png'),auto;
}

.gameUnit{
    position:  relative;
    background: #ced8ce;
    width: 5em;
    height: 5em;
    margin: 0.7em;
    box-shadow: inset 0px 6px 18px grey;
    overflow:  hidden;
    border-radius: 0.3em;
}

@media screen and (max-width: 1020px){
   naf-play{
    display: block;
    width: 100%;
}


    .gameUnit{
            display:  inline-block;
            width: 3rem;
            height: 3rem;
            margin: 0.2em;
    }
}